@import url("./global.css");
@import url("./variables.css");

body {
  background-color: var(--bg-main);
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.abito-button {
  color: var(--font-common);
  background-color: var(--bg-button);
  padding: 10px 15px;
  border: 1px solid #00000000;
  border-radius: 8px;
  cursor: pointer;
}

.abito-button.filling {
  color: var(--font-common-alter);
  background-color: var(--bg-button-fill);
}
